.DS_Store

**/*.rs.bk
**/*~
/target/
benchmarks/**/*.ll
benchmarks/**/*.o
benchmarks/_results
benchmarks/wasmtime
benchmarks/**/rust-benchmark/target/
benchmarks/**/rust-benchmark/Cargo.lock

# Log files produced by running sightglass benchmarks.
**/stdout-*-*-*.log
**/stderr-*-*-*.log

benchmarks/renpy/CubismSdkForNative-4-r.6.2*
benchmarks/renpy/Live2DCubismCore.h
